table {
  border-collapse: collapse;
  border: 2px solid black;
  width: 100%;
  text-align: center;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: antiquewhite;
  color: #333;
  padding: 20px;
}

caption {
  font-size: xx-large;
  margin: bottom 10px;
}
img {
  width: 200px;
  height: auto;
  border-radius: 8px;
  align-items: center;
}

th {
  background-color: rgb(39, 115, 153);
  font-weight: bolder;
}
